@font-face {
    font-family: poppins;
    src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: itim;
    src: url(fonts/Itim-Regular.ttf);
}
:root{
    --height1:300vh;
}

html {
    font-size: 62.5%;
    font-family: poppins;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
}

#bgImage {
    height: var(--height1);
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(to top right, #6060d8, #949af2);
}
#supermainDiv{
    position: absolute;
    top: 5rem;
    left: 5rem;
    height: var(--height1);
    width: 95%;
    box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.5);
}

#mainDiv {
    position: absolute;
    top: 0rem;
    left: 0rem;
    height: 50rem;
    width: 100%;
    background-color: whitesmoke;
    
    /* border-radius: 1.8rem; */
}

#logo {
    position: relative;
    margin-top: 4rem;
    height: 9rem;
    width: 100%;
    left: 0;
    background-color: transparent;
}
#welcomename{
    position: absolute;
    top: 2rem;
    left: 3rem;
    font-size: 4rem;
    font-family: itim;
    font-weight: bold;
    color:#4b464b;
}
.scrollToggle{
    position: absolute;
    width: 100%;
    height: 2.5rem;
}
.navigationBar {
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    right:0;
    width: 70%;
    height: 7rem;
    background-image: linear-gradient(to right, #6060d8, #949af2);
    border-top-left-radius: 2.3rem;
    border-bottom-left-radius: 2.5rem;
    box-shadow: 0 -0.2rem 1rem rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    /* padding-left: 4rem; */
}
.sticky{
    position: fixed;
    top: 1rem;
    right: 2.6rem;
    width: 66.5%;
    height: 7rem;
}

/* #navigationDiv {
    margin-top: 1.8rem;
} */
#home{
    margin-left: 7rem;
}
#home,
#Wishlist,
#Profile,
#Logout{
    font-size: 2.2rem;
    color: white;
    margin-top: 1.6rem;
    transition: 0.3s;
    cursor: pointer;
}
#searchBar{
    margin-top: 1.7rem;
    margin-right: 3rem;
    display: flex;
    justify-content: space-between;

}
#SearchBox{
    height: 3rem;
    width: 21rem;
    border-radius: 2rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    padding-left: 1.8rem;
    box-sizing: border-box;
    border: none;
    transition: 0.5s;
}
#SearchBox::placeholder{
    font-size: 1.4rem;
    /* padding-left: 1rem; */
    letter-spacing: normal;
}
#SearchBox:focus{
    border: none;
    outline: .3rem solid #03C04A;
}
.searchIcon{
    height: 3rem;
    width: 4rem;
    font-size: 1.8rem;
    background-color: white;
    color: #6060d8;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 1rem;
}



/* #home,
#Wishlist,
#Profile,
#Logout {
    display: inline-block;
    height: 100%;
    margin-top: 2rem;
    font-size: 2.2rem;
    margin-left: 3.5rem;
    /* margin-right: 2.5rem; 
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
#searchBar{
    float: right;
    /* width: 2rem; 

}
#home{
    position: absolute;
    left: 3rem;
    top: 0rem;
    transition: 0.3s;
}
#Wishlist{
    position: absolute;
    left: 19rem;
    top: 0rem;
    transition: 0.3s;
}
#Profile{
    position: absolute;
    left: 41rem;
    top: 0rem;
    transition: 0.3s;
}
#Logout{
    position: absolute;
    left: 63rem;
    top: 0rem;
    transition: 0.3s;
} */

#home:hover{
    font-size: 2.8rem;
    top: -0.5rem;
    left: 2rem;
    margin-left: 6.1rem;
    /* margin-right: 1.1rem; */
}
#Wishlist:hover{
    font-size: 2.8rem;
    top: -0.5rem;
    left:23rem;
}
#Profile:hover{
    font-size: 2.8rem;
    top: -0.5rem;
    left: 45rem;
}
#Logout:hover{
    font-size: 2.8rem;
    top: -0.5rem;
    left: 67rem;
}
#textArea{
    /* border: 1px solid red; */
    height: 27rem;
    margin: 3rem;
    width: 65rem;
}
#welcomeText{
    font-size: 5rem;
    text-align: center;
    font-family: itim;
    pointer-events: none;
    color: #4b464b;
}
#welcome{
    font-size: 12rem;
    color: #6060d8;
}
#buttonDiv{
    font-family: itim;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
#form1,#form2{
    display: inline;
    margin: 2rem;
}
#button1{
    height: 4rem;
    width: 15rem;
    border-radius: 3rem;
    border: none;
    background-color: #6060d8;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: itim;
    letter-spacing: .15rem;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: .2rem .2rem 1rem rgba(0, 0, 0, 0.5);
}
#button2{
    height: 4rem;
    width: 15rem;
    border-radius: 3rem;
    border: .4rem solid #6060d8;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    color: #4b464b;
    font-family: itim;
    letter-spacing: .15rem;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: .2rem .2rem 1rem rgba(0, 0, 0, 0.5);
}
#button1:hover{
    background-color: transparent;
    border: .4rem solid #6060d8;
    color: #6060d8;
}
#button2:hover{
    background-color: #6060d8;
    border: none;
    color: white;
}
#logout:link,
#logout:visited,
#logout:hover,
#logout:active{
    text-decoration: none;
    color: white;
}
#profile:link,
#profile:visited,
#profile:hover,
#profile:active{
    text-decoration: none;
    color: white;
}

#wavediv{
    margin: 0;
    position: relative;
    background-color: whitesmoke;
}
#secondDivbgImage{
    position: relative;
    top: -1rem;
    height:100rem ;
    width: 100%;
    background-color:#0099ff;
    margin: 0;
    /* padding-top: 10rem; */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Hide the default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
   }
   
   .container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
   }
   
   /* Create a custom checkbox */
   .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #ccc;
    transition: all 0.3s;
    border-radius: 5px;
   }
   
   /* When the checkbox is checked, add a blue background */
   .container input:checked ~ .checkmark {
    background-color: #47da99;
    animation: pop 0.5s;
    animation-direction: alternate;
   }
   
   /* Create the checkmark/indicator (hidden when not checked) */
   .checkmark:after {
    content: "";
    position: absolute;
    display: none;
   }
   
   /* Show the checkmark when checked */
   .container input:checked ~ .checkmark:after {
    display: block;
   }
   
   /* Style the checkmark/indicator */
   .container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
   }
   
   @keyframes pop {
    0% {
     transform: scale(1);
    }
   
    50% {
     transform: scale(0.9);
    }
   
    100% {
     transform: scale(1);
    }
   }
table{
    /* height: 100%; */
    width: 90%;
    /* margin-left: 5rem;
    margin-right: 5rem; */
    border-spacing: 0 2rem;
    border-collapse: separate;
    border-radius: 1rem;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5) ;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.8rem;
    font-weight: bold;    
}
th{
    text-align: left;
    padding-left:1rem;
    box-shadow: none;
}
td{
    padding-left:1rem;
}
/* td:nth-child(even){
    background-color: #B2B2B2;
}    */
#book-detail{
    height: 6rem;
    width: 100%;
    background-color: white;
    border: 1px solid white;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
#checkboxDiv{
    position: relative;
    padding-left: 2rem;
}
#booknow:link,
#booknow:active,
#booknow:visited{
    text-decoration: none;
    color: #4b464b;
}
#booknow:hover{
    font-weight: bold;
    color: #03C04A;
    cursor: pointer;
}
.confirmation{
    color: white;
    text-align: center;
    opacity: 0;
    position: fixed;
    top: 30%;
    left: 35%;
    border-radius: 2rem;
    height: 30rem;
    width: 50rem;
    border: 0.1rem solid rgba(255,255,255, 0.9);
    background-color: rgba(0,0,0,0.8);
    box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.5);
}
/* .visible{
    visibility: visible;
} */
.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
	        animation: slide-in-fwd-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}
@-webkit-keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
.confirmationtext{
    margin-top: 4rem;
    font-size: 3rem;
    font-weight: bold;
}
.bookName{
    margin-top: 3rem;
    font-size: 3rem;
    font-family: itim;
}
.buttonDiv{
    margin-top: 4rem;
}
.buttonDiv1,.buttonDiv2{
    display: inline;
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 4rem;
    width: 16rem;
    top: 4rem;
}
#confirmButton,#cancelButton{
    border-radius: 4rem;
    height: 4rem;
    width: 12rem;
}
#confirmButton{
    background-color: transparent;
    border: .4rem solid #03C04A;
    font-size: 1.8rem;
    font-weight: bold;
    color: #03C04A;
    transition: 0.5s;
    cursor: pointer;
}
#confirmButton:hover{
    background-color: #03C04A;
    color: white;
}
#cancelButton{
    background-color: transparent;
    border: .4rem solid #E3242B;
    font-size: 1.8rem;
    font-weight: bold;
    color: #E3242B;
    transition: 0.5s;
    cursor: pointer;
}
#cancelButton:hover{
    background-color: #E3242B;
    color: white;
}
  
